# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
*.sqlite3
media/mapas
media/reportes
media/reportesQR


# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/

.idea

# Sublime Text # 
*.tmlanguage.cache 
*.tmPreferences.cache 
*.stTheme.cache 
*.sublime-workspace 
*.sublime-project 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
nohup.out

# Tema
# /static/isr/css/theming.css
# static/isr/css/theming.css

# Ignore Django Migrations in Development if you are working on team
**/migrations/**
!**/migrations
!**/migrations/__init__.py

# pyenv
.python-version
.DS_store